* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.minicart {
  padding: 0 20px;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.minicart-item {
  padding: 10px;
  background-color: #ecf1f2;
  max-width: 144px;
  border-radius: 5px;
  position: relative;
}

.minicart-item:hover {
  background-color: #dde6e8;
}

.minicart-item__img {
  display: block;
  margin: 0 auto;
  height: 67px;
  width: 100%;
  border-radius: 5px;
  transition-duration: 0.2s;
  transition-property: transform;
  margin-bottom: 5px;
}

.minicart-item:hover .minicart-item__img {
  transform: scale(1.03);
}

.minicart-item__title {
  font-size: 12px;
  font-weight: 700;
  display: block;
}

.minicart-item__info {
  font-size: 10px;
}

.minicart-item__link::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
}

.minicart-item__services span {
  font-weight: 700;
  font-size: 8px;
}

.minicart-item__services li {
  font-size: 8px;
  position: relative;
  padding-left: 10px;
}

.minicart-item__services li::before {
  content: "";
  background: url(../../../icon/facilities-icon.svg) no-repeat;
  background-size: 100%;
  height: 9px;
  width: 9px;
  position: absolute;
  top: 2px;
  left: -0.5px;
}

.minicart-item__price {
  display: block;
  font-weight: 700;
  font-size: 12px;
  text-align: end;
}

@media (min-width: 480px) {
  .minicart {
    padding: 0 20px;
    justify-content: space-evenly;
  }
  .minicart-item {
    padding: 10px;
    max-width: 190px;
  }
  .minicart-item__img {
    height: 100px;
  }
  .minicart-item__title {
    font-size: 14px;
    font-weight: 700;
  }
  .minicart-item__info {
    font-size: 12px;
  }
  .minicart-item__services span {
    font-size: 10px;
  }
  .minicart-item__services li {
    font-size: 10px;
  }
  .minicart-item__services li::before {
    top: 3px;
    left: -0.6px;
  }
  .minicart-item__price {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .minicart-item {
    padding: 15px;
    max-width: 230px;
  }
  .minicart-item__img {
    height: 110px;
    margin-bottom: 10px;
  }
  .minicart-item__title {
    font-size: 18px;
    font-weight: 700;
  }
  .minicart-item__services span {
    font-size: 12px;
  }
  .minicart-item__services li {
    font-size: 12px;
  }
  .minicart-item__services li::before {
    background-size: 100%;
    top: 4px;
    left: -0.6px;
  }
  .minicart-item__price {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .minicart-item {
    padding: 20px;
    max-width: 320px;
  }
  .minicart-item__img {
    height: 200px;
  }
  .minicart-item__title {
    font-size: 18px;
    font-weight: 700;
  }
  .minicart-item__services span {
    font-size: 12px;
  }
  .minicart-item__services li {
    font-size: 12px;
  }
  .minicart-item__services li::before {
    background-size: 100%;
    top: 4px;
    left: -0.6px;
  }
  .minicart-item__price {
    font-size: 18px;
  }
}
.enquiry {
  margin: 0 auto;
  padding: 20px;
}

.enquiry__label {
  display: flex;
  flex-direction: column-reverse;
  font-size: 12px;
  font-weight: 700;
  gap: 10px;
  margin: 10px 0;
}

.enquiry__input {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #ecf1f2;
  border: none;
}

textarea {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  height: 119px;
  border-radius: 5px;
  padding: 10px;
  background-color: #ecf1f2;
  border: none;
}

@media (min-width: 768px) {
  .enquiry {
    padding: 40px;
  }
  .enquiry__label {
    font-size: 20px;
    margin: 20px 0;
  }
  .enquiry__input {
    font-size: 14px;
    height: 60px;
  }
  textarea {
    font-size: 14px;
  }
}
button {
  font-family: "Poppins", sans-serif;
}

.button {
  width: 112px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.button--tabs {
  color: #50422e;
  background-color: #e0d1bc;
  border: none;
  border-radius: 5px;
}

.button--tabs:hover {
  color: #e0d1bc;
  background-color: #50422e;
}

.button--submit {
  width: 112px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  color: #0a2a35;
  background-color: #b0dce7;
  border: none;
  border-radius: 5px;
}

.button--submit:hover {
  color: #b0dce7;
  background-color: #0a2a35;
}

@media (min-width: 768px) {
  .button--tabs {
    width: 145px;
    height: 60px;
    font-size: 20px;
  }
  .button--submit {
    width: 145px;
    height: 60px;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .button--tabs {
    width: 155px;
    height: 65px;
    font-size: 22px;
  }
  .button--submit {
    width: 155px;
    height: 65px;
    font-size: 22px;
  }
}
/* the div that contains the cards */
.carousel {
  display: grid;
  grid-auto-flow: column;
  gap: 1.2rem;
  overflow-x: hidden;
  margin-left: 40px;
  width: 739px;
}

/* each card of the carousel */
.carousel-item {
  border-radius: 5px;
  width: 168px;
  height: 167px;
  background-color: #13565E;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* car content */
.carousel-item__title {
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 1rem;
  color: white;
  font-size: 1rem;
}

.carousel-item__link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.carousel-item__link:hover::after {
  background-color: black;
  border-radius: 5px;
  opacity: 0.3;
}

.carousel-item__img {
  width: 168px;
  height: 167px;
  border-radius: 5px;
}

/* Carousel buttons */
.carousel__btn {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-width: 2px 2px 0 0;
  cursor: pointer;
}

.carousel__btn--prev {
  position: relative;
  top: -103px;
  left: 10px;
  transform: rotate(227deg);
}

#next-btn {
  right: 650px;
  position: relative;
  top: -129px;
  left: 770px;
  transform: rotate(45deg);
}

header {
  background-color: #13565E;
  width: 100%;
  height: 86px;
  position: relative;
}

.header_tittle {
  color: #fff;
  position: absolute;
  left: 70px;
  top: 16px;
  font-size: 35px;
}

.header_button {
  background-color: #B0DCE7;
  position: absolute;
  left: 89%;
  top: 19px;
  height: 39px;
  width: 109px;
  border-radius: 5px;
  border: none;
  font-size: 26px;
  color: #13565E;
}

.header_anchor {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header {
    background-color: #13565E;
    width: 100%;
    height: 67px;
    position: relative;
  }
  .header_tittle {
    color: #fff;
    position: absolute;
    left: 37px;
    top: 25px;
    font-size: 26px;
  }
  .header_button {
    background-color: #B0DCE7;
    position: absolute;
    left: 80%;
    top: 24px;
    height: 38px;
    width: 104px;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    color: #13565E;
  }
  .header_anchor {
    text-decoration: none;
  }
}
@media screen and (max-width: 320px) {
  header {
    background-color: #13565E;
    width: 100%;
    height: 70px;
    position: relative;
  }
  .header_tittle {
    color: #fff;
    position: absolute;
    left: 14px;
    top: 29px;
    font-size: 20px;
  }
  .header_button {
    background-color: #B0DCE7;
    position: absolute;
    left: 68%;
    top: 28px;
    height: 28px;
    width: 76px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: #13565E;
  }
  .header_anchor {
    text-decoration: none;
  }
}

/*# sourceMappingURL=styles.css.map */
