.container__btn {
  margin-bottom: 20px;
}

.subtitle__paragraph {
  color: #8b8f90;
}

.tabs__button {
  width: 170px;
  height: 65px;
  font-size: 25px;
  font-weight: 600;
  color: #50422e;
  background-color: #e0d1bc;
  border: none;
  border-radius: 5px;
}

.tabs__button:hover {
  color: #e0d1bc;
  background-color: #50422e;
}

.submit__button {
  width: 170px;
  height: 65px;
  font-size: 25px;
  font-weight: 600;
  color: #0A2A35;
  background-color: #b0dcE7;
  border: none;
  border-radius: 5px;
}

.submit__button:hover {
  color: #b0dcE7;
  background-color: #0A2A35;
}