body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* the div that contains the cards */
.carousel {
  display: grid;
  grid-auto-flow: column;
  gap: 1.2rem;
  overflow-x: hidden;
  margin-left: 40px;
  width: 739px;
}

/* each card of the carousel */
.card {
  border-radius: 5px;
  width: 168px;
  height: 167px;
  background-color: #13565E;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* car content */
.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  font-size: 1rem;
}

/* Carousel buttons */
#prev-btn,
#next-btn {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-width: 2px 2px 0 0;
  cursor: pointer;
}

#prev-btn {
  position: relative;
  top: -103px;
  left: -367px;
  transform: rotate(227deg);
}

#next-btn {
  right: 650px;
  position: relative;
  top: -138px;
  left: 394px;
  transform: rotate(45deg);
}

@media (min-width: 0px) and (max-width: 480px) {
  .carousel {
    position: relative;
    top: 106px;
    left: -9px;
    width: 285px;
    overflow-x: scroll;
  }

  .card {
    left: 20px;
    width: 262px;
    height: 225px;
  }

  #prev-btn {
    top: -36px;
    left: -132px;
  }

  #next-btn {
    top: -70px;
    left: 166px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .carousel {
    width: 369px;
  }

  #prev-btn {
    left: -177px;
  }

  #next-btn {
    left: 210px;
  }
}