@use '../partials/colors';

button {
  font-family: 'Poppins', sans-serif;
}

.button {
  width: 90px;
  height: 40px;
  font-size: 13px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.button--tabs {
  color: colors.$brown;
  background-color: colors.$beige;
}

.button--tabs:hover {
  color: colors.$beige;
  background-color: colors.$brown;
}

.button--submit {
  color: colors.$blue;
  background-color: colors.$lightblue--btn;
}

.button--submit:hover {
  color: colors.$lightblue--btn;
  background-color: colors.$blue;
}

@media (min-width: 768px) {
  .button {
    width: 110px;
    height: 50px;
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .button {
    width: 120px;
    height: 50px;
    font-size: 17px;
  }
}