@use '../partials/colors';

button {
  font-family: 'Poppins', sans-serif;
}

.button {
  padding: 20px;
  text-decoration: none;
  text-align: center;
  display: block;
 /* width: 112px;
  height: 44px;*/
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.button--tabs {
  color: colors.$brown;
  background-color: colors.$beige;
  border: none;
  border-radius: 5px;
}

.button--tabs:hover {
  color: colors.$beige;
  background-color: colors.$brown;
}

.button--submit {
  color: colors.$blue;
  background-color: colors.$lightblue--btn;
  border: none;
  border-radius: 5px;
}

.button--submit:hover {
  color: colors.$lightblue--btn;
  background-color: colors.$blue;
}

@media (min-width: 768px) {
  .button--tabs {
    width: 145px;
    height: 60px;
    font-size: 20px;
  }

  .button--submit {
    padding: 20px;
    /*width: 145px;
    height: 60px;*/
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .button--tabs {
    width: 155px;
    height: 65px;
    font-size: 22px;
  }

  .button--submit {
    padding: 20px;
    /*width: 155px;
    height: 65px;*/
    font-size: 22px;
  }
}