@use './colors';

// 324px width styles

// destination card template
.minicart {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  flex-wrap: wrap;
}

.minicart-item {
  padding: 10px;
  background-color: colors.$lightblue;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.minicart-item:hover {
  background-color: darken(colors.$lightblue, 5%);
}

.minicart-item__img {
  display: block;
  margin: 0 auto;
  height: 67px;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  transition-duration: 0.2s;
  transition-property: transform;
  margin-bottom: 5px;
}

.minicart-item:hover .minicart-item__img {
  transform: scale(1.03);
}

.minicart-item__title {
  margin: 5px 0;
  font-size: 12px;
  font-weight: 700;
  display: block;
}

.minicart-item__info {
  font-size: 10px;
  min-height: 70px;
}

.minicart-item__link::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
}

// Hotel card facilities list

.minicart-item__services span {
  font-weight: 700;
  font-size: 8px;
}

.minicart-item__services li {
  font-size: 8px;
  position: relative;
  padding-left: 10px;
}

.minicart-item__services li::before {
  content: "";
  background: url(../icon/facilities-icon.svg) no-repeat;
  background-size: 100%;
  height: 9px;
  width: 9px;
  position: absolute;
  top: 2px;
  left: -0.5px;
}

.minicart-item__pricing {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.minicart-item__price {
  font-weight: 700;
  font-size: 12px;
}

.minicart-item__price--discount {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: colors.$discount;
}

@media (min-width: 480px) {
  // destination card template
  .minicart {
    gap: 10px;
  }
  
  .minicart-item__img {
    height: 100px;
  }

  .minicart-item__title {
    font-size: 14px;
  }

  .minicart-item__info {
    font-size: 12px;
  }

  // Hotel card facilities list

  .minicart-item__services span {
    font-size: 10px;
  }

  .minicart-item__services li {
    font-size: 10px;
  }

  .minicart-item__services li::before {
    top: 3px;
    left: -0.6px;
  }

  .minicart-item__price {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  // destination card template

  .minicart {
    grid-template-columns: repeat(3, 1fr);
  }

  .minicart-item__img {
    height: 110px;
    margin-bottom: 10px;
  }

  .minicart-item__title {
    font-size: 18px;
  }

  // Hotel card facilities list

  .minicart-item__services span {
    font-size: 12px;
  }

  .minicart-item__services li {
    font-size: 12px;
  }

  .minicart-item__services li::before {
    background-size: 100%;
    top: 4px;
    left: -0.6px;
  }

  .minicart-item__price {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  // destination card template

  .minicart {
   grid-template-columns: repeat(4, 1fr);
  }

  .minicart-item__img {
    height: 200px;
  }

  .minicart-item__title {
    font-size: 18px;
  }

  // Hotel card facilities list

  .minicart-item__services span {
    font-size: 12px;
  }

  .minicart-item__services li {
    font-size: 12px;
  }

  .minicart-item__services li::before {
    background-size: 100%;
    top: 4px;
    left: -0.6px;
  }

  .minicart-item__price {
    font-size: 18px;
  }
}