@use './colors';

// 324px width styles

.minicart {
  max-width: 298px;
  display: flex;
  justify-content: space-between;
}

.minicart-item {
  padding: 10px;
  background-color: colors.$lightblue;
  max-width: 144px;
  border-radius: 5px;
}

.minicart-item__img {
  height: 67px;
  width: 124px;
  border-radius: 5px;
}

.minicart-item__title {
  font-size: 18px;
}

.minicart-item__info {
  font-size: 10px;
}