@use './colors';

.carousel {
  display: flex;
  position: relative;
}

.carousel-item {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 24%;
  gap: 20px;
  padding: 0 20px;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.carousel-item__card {
  overflow: hidden;
  aspect-ratio: 1/1;
  display: flex;
  position: relative;
  border-radius: 5px; 
}

.carousel-item__card__title {
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.carousel-btn {
  width: 60px;
  height: 60px;
  color: colors.$white;
  background-color: colors.$blue;
  font-weight: 700;
  font-size: 30px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-btn--left {
left: 5px;
}

.carousel-btn--right {
  right: 5px;
}

/* .carousel-item__img {
  height: 50%;
} */