@use "./colors";

header {
  background-color: colors.$blue;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header_title {
  color: #fff;
  font-size: 20px;
}

@media  (min-width: 768px) {
  .header_title {
    color: #fff;
    font-size: 35px;
  }
}
