@use '../partials/colors';

.pop-up {
  display: none;
}

.pop-up-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  opacity: 60%;
  z-index: 9;
  overflow-y: hidden;
}

.pop-up-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: fit-content;
  width: 250px;
  padding: 20px;
  border-radius: 5px;
  background-color: colors.$white;
  box-shadow:
  0.5px 1.5px 11.9px rgba(0, 0, 0, 0.201),1.1px 3.4px 30.1px rgba(0, 0, 0, 0.291),
  1.9px 6.2px 57.1px rgba(0, 0, 0, 0.359),3.2px 10.3px 97.5px rgba(0, 0, 0, 0.421),
  5.3px 16.9px 160.3px rgba(0, 0, 0, 0.489),9.2px 29.6px 265.9px rgba(0, 0, 0, 0.579),
  20px 64px 457px rgba(0, 0, 0, 0.78);
}

.pop-up-wrapper__title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

.pop-up-wrapper__form {
  margin-top: 15px;
}
.pop-up-wrapper__form label {
  font-size: 12px;
  font-weight: 500;
  color: #585858;
  display: block;
}

.pop-up-wrapper__form input {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: colors.$lightblue;
  border: none;
}

.pop-up-wrapper__form .button--sign-in {
  font-size: 12px;
}

.pop-up-wrapper__close {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.pop-up-wrapper__close:active {
  transform: scale(0.9);
}

.pop-up-wrapper__close::after {
  display: block;
  content: '';
  background: url(../../icon/close-circle-icon.svg);
  background-size: cover;
  width: 30px;
  height: 30px;
}

@media (min-width: 480px) {
  .pop-up-wrapper {
    width: 300px;
  }
  
  .pop-up-wrapper__title {
    font-size: 18px;
  }
  
  .pop-up-wrapper__form {
    margin-top: 15px;
  }
  .pop-up-wrapper__form label {
    font-size: 12px;
  }
  
  .pop-up-wrapper__form input {
    font-size: 12px;
  }

  .pop-up-wrapper__form .button--sign-in {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .pop-up-wrapper {
    width: 400px;
  }
  
  .pop-up-wrapper__title {
    font-size: 22px;
  }
  
  .pop-up-wrapper__form {
    margin-top: 15px;
  }

  .pop-up-wrapper__form label {
    font-size: 16px;
  }
  
  .pop-up-wrapper__form input {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .pop-up-wrapper__form .button--sign-in {
    font-size: 14px;
  }
}