body {
  font-family: 'Poppins', sans-serif;
}

.container__btn--brown {
  display: flex;
  margin-bottom: 20px;
}

.container__btn {
  display: flex;
}

.subtitle__paragraph {
  color: #8b8f90;
}

.normal__btn--brown {
  width: 170px;
  height: 65px;
  font-size: 25px;
  font-weight: 600;
  color: #50422e;
  background-color: #e0d1bc;
  border: none;
  border-radius: 5px;
}

.container__btn--margin {
  margin-left: 25px;
}

.pressed__btn--brown {
  width: 170px;
  height: 65px;
  font-size: 25px;
  font-weight: 600;
  color: #e0d1bc;
  background-color: #50422e;
  border: none;
  border-radius: 5px;
}

.normal__btn--green {
  width: 170px;
  height: 65px;
  font-size: 25px;
  font-weight: 600;
  color: #0A2A35;
  background-color: #b0dcE7;
  border: none;
  border-radius: 5px;
}

.pressed__btn--green {
  width: 170px;
  height: 65px;
  font-size: 25px;
  font-weight: 600;
  color: #b0dcE7;
  background-color: #0A2A35;
  border: none;
  border-radius: 5px;
}