* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 18px;
  color: #0a2a35;
  margin: 20px 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.js-hidden {
  display: none;
  animation: fadeOut 0.5s;
}

.js-visible {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (min-width: 480px) {
  h2 {
    font-size: 16px;
    margin: 20px 0;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 18px;
    margin: 20px 0;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 24px;
    margin: 20px 0;
  }
}
.minicart {
  padding: 0 20px;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.minicart-item {
  padding: 10px;
  background-color: #ecf1f2;
  max-width: 144px;
  border-radius: 5px;
  position: relative;
}

.minicart-item:hover {
  background-color: #dde6e8;
}

.minicart-item__img {
  display: block;
  margin: 0 auto;
  height: 67px;
  width: 100%;
  border-radius: 5px;
  transition-duration: 0.2s;
  transition-property: transform;
  margin-bottom: 5px;
}

.minicart-item:hover .minicart-item__img {
  transform: scale(1.03);
}

.minicart-item__title {
  font-size: 12px;
  font-weight: 700;
  display: block;
}

.minicart-item__info {
  font-size: 10px;
}

.minicart-item__link::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
}

.minicart-item__services span {
  font-weight: 700;
  font-size: 8px;
}

.minicart-item__services li {
  font-size: 8px;
  position: relative;
  padding-left: 10px;
}

.minicart-item__services li::before {
  content: "";
  background: url(../../../icon/facilities-icon.svg) no-repeat;
  background-size: 100%;
  height: 9px;
  width: 9px;
  position: absolute;
  top: 2px;
  left: -0.5px;
}

.minicart-item__price {
  display: block;
  font-weight: 700;
  font-size: 12px;
  text-align: end;
}

@media (min-width: 480px) {
  .minicart {
    padding: 0 20px;
    justify-content: space-evenly;
  }
  .minicart-item {
    padding: 10px;
    max-width: 190px;
  }
  .minicart-item__img {
    height: 100px;
  }
  .minicart-item__title {
    font-size: 14px;
    font-weight: 700;
  }
  .minicart-item__info {
    font-size: 12px;
  }
  .minicart-item__services span {
    font-size: 10px;
  }
  .minicart-item__services li {
    font-size: 10px;
  }
  .minicart-item__services li::before {
    top: 3px;
    left: -0.6px;
  }
  .minicart-item__price {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .minicart-item {
    padding: 15px;
    max-width: 230px;
  }
  .minicart-item__img {
    height: 110px;
    margin-bottom: 10px;
  }
  .minicart-item__title {
    font-size: 18px;
    font-weight: 700;
  }
  .minicart-item__services span {
    font-size: 12px;
  }
  .minicart-item__services li {
    font-size: 12px;
  }
  .minicart-item__services li::before {
    background-size: 100%;
    top: 4px;
    left: -0.6px;
  }
  .minicart-item__price {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .minicart-item {
    padding: 20px;
    max-width: 320px;
  }
  .minicart-item__img {
    height: 200px;
  }
  .minicart-item__title {
    font-size: 18px;
    font-weight: 700;
  }
  .minicart-item__services span {
    font-size: 12px;
  }
  .minicart-item__services li {
    font-size: 12px;
  }
  .minicart-item__services li::before {
    background-size: 100%;
    top: 4px;
    left: -0.6px;
  }
  .minicart-item__price {
    font-size: 18px;
  }
}
.enquiry {
  margin: 0 auto;
  padding: 20px;
}

.enquiry__label {
  display: flex;
  flex-direction: column-reverse;
  font-size: 12px;
  font-weight: 700;
  gap: 10px;
  margin: 10px 0;
}

.enquiry__input {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #ecf1f2;
  border: none;
}

textarea {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  height: 119px;
  border-radius: 5px;
  padding: 10px;
  background-color: #ecf1f2;
  border: none;
}

@media (min-width: 768px) {
  .enquiry {
    padding: 40px;
  }
  .enquiry__label {
    font-size: 20px;
    margin: 20px 0;
  }
  .enquiry__input {
    font-size: 14px;
    height: 60px;
  }
  textarea {
    font-size: 14px;
  }
}
button {
  font-family: "Poppins", sans-serif;
}

.button {
  padding: 10px 15px;
  text-align: center;
  display: block;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.button--tabs {
  color: #50422e;
  background-color: #e0d1bc;
}

.button--tabs:hover {
  color: #e0d1bc;
  background-color: #50422e;
}

.button--submit,
.button--sign-in {
  color: #0a2a35;
  background-color: #b0dce7;
}

.button--sign-in:hover {
  color: #ffffff;
  background-color: #3597af;
}

.button--submit:hover {
  color: #b0dce7;
  background-color: #0a2a35;
}

@media (min-width: 480px) {
  .button {
    padding: 10px 15px;
    font-size: 16px;
  }
}
.carousel {
  display: flex;
  position: relative;
}

.carousel-item {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 49%;
  gap: 5px;
  padding: 0 20px;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 20px;
}

.carousel-item__card {
  overflow: hidden;
  aspect-ratio: 1/1;
  display: flex;
  position: relative;
  border-radius: 5px;
  scroll-snap-align: start;
}

.carousel-item__card__title {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.carousel-item__card__img {
  transition-duration: 0.2s;
  transition-property: transform;
}

.carousel-item__card:hover .carousel-item__card__img {
  transform: scale(1.03);
}

.carousel-item__card__link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.carousel-item__card__link:hover {
  cursor: pointer;
}

.carousel-btn {
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: #0a2a35;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-btn--left {
  left: 5px;
}

.carousel-btn--right {
  right: 5px;
}

@media (min-width: 480px) {
  .carousel-item {
    grid-auto-columns: 32%;
    gap: 10px;
  }
  .carousel-item__card__title {
    font-size: 16px;
  }
  .carousel-btn {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: 4px solid #ffffff;
  }
}
@media (min-width: 768px) {
  .carousel-item {
    grid-auto-columns: 24%;
    gap: 10px;
  }
  .carousel-item__card__title {
    font-size: 16px;
  }
  .carousel-btn {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: 4px solid #ffffff;
  }
}
@media (min-width: 1024px) {
  .carousel-item {
    gap: 20px;
  }
  .carousel-item__card__title {
    font-size: 18px;
  }
  .carousel-btn {
    width: 65px;
    height: 65px;
    border: 5px solid #ffffff;
  }
}
.header {
  background-color: #0a2a35;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: 480px) {
  .header {
    height: 80px;
    padding: 0 20px;
  }
  .header__title {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .header__title {
    font-size: 30px;
  }
}
.footer {
  background-color: #0a2a35;
  padding: 40px 20px;
  margin-top: 20px;
}

.footer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer-item--media {
  margin-top: 30px;
}

.footer-item__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.footer-item__list--flex {
  display: flex;
  gap: 10px;
  position: relative;
}

.footer-item__list__title {
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
}

.footer-item__list__link a {
  display: block;
  z-index: 2;
  color: #ffffff;
  font-size: 10px;
  margin: 10px 0;
}

.footer-item__list__link a:hover {
  color: #ecf1f2;
}

.footer-item__list__media {
  aspect-ratio: 1/1;
  width: 20px;
  position: relative;
}

.footer-item__list__media__fb::before {
  background: url("../icon/facebook-icon.svg") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  transition-duration: 0.5s;
  transition-property: transform;
}

.footer-item__list__media__inst::before {
  background: url("../icon/instagram-icon.svg") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  transition-duration: 0.5s;
  transition-property: transform;
}

.footer-item__list__media__tw::before {
  background: url("../icon/twitter-icon.svg") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  transition-duration: 0.5s;
  transition-property: transform;
}

.footer-item__list__media__fb:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.footer-item__list__media__inst:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.footer-item__list__media__tw:hover {
  transform: scale(1.08);
  cursor: pointer;
}

@media (min-width: 480px) {
  .footer-item {
    max-width: 500px;
    margin: 0 auto;
  }
  .footer-item--media {
    max-width: none;
    margin: 30px 0 0;
  }
  .footer-item__title {
    font-size: 16px;
  }
  .footer-item__list__title {
    font-size: 14px;
  }
  .footer-item__list__link a {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .footer-item {
    max-width: 700px;
  }
  .footer-item--media {
    max-width: none;
    margin: 50px 0 0;
  }
  .footer-item__title {
    font-size: 18px;
  }
  .footer-item__list__title {
    font-size: 16px;
  }
  .footer-item__list__link a {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 70px 40px;
    margin-top: 40px;
  }
  .footer-item {
    max-width: 900px;
    margin: 0 auto;
  }
  .footer-item--media {
    max-width: none;
    margin: 60px 0 0;
  }
  .footer-item__title {
    font-size: 24px;
  }
  .footer-item__list__title {
    font-size: 20px;
  }
  .footer-item__list__link a {
    font-size: 16px;
    margin: 20px 0;
  }
  .footer-item__list__media {
    width: 40px;
    height: 40px;
  }
  .footer-item__list__media__tw::before {
    width: 40px;
    height: 40px;
  }
  .footer-item__list__media__inst::before {
    width: 40px;
    height: 40px;
  }
  .footer-item__list__media__fb::before {
    width: 40px;
    height: 40px;
  }
}
.description__hero {
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
}

.description__hero__img {
  width: 100%;
}

.description__info {
  padding: 0 20px;
}

.description__info__title {
  font-size: 26px;
}

.description__info__btn {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.description__info__text {
  text-align: justify;
  font-size: 12px;
}

@media (min-width: 480px) {
  .description__hero {
    height: 200px;
  }
  .description__info__text {
    text-align: justify;
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .description__hero {
    height: 300px;
  }
  .description__info__title {
    font-size: 30px;
  }
  .description__info__text {
    text-align: justify;
    font-size: 16px;
  }
  .description__info {
    padding: 0 40px;
  }
  .description__info__btn {
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 18px;
  color: #0a2a35;
  margin: 20px 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.js-hidden {
  display: none;
  animation: fadeOut 0.5s;
}

.js-visible {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (min-width: 480px) {
  h2 {
    font-size: 16px;
    margin: 20px 0;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 18px;
    margin: 20px 0;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 24px;
    margin: 20px 0;
  }
}
.destination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 0 20px;
}

.destination-item {
  aspect-ratio: 1/1;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.destination-item::after {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.destination-item:hover {
  background-color: gray;
}

.destination-item__link::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.destination-item__title {
  font-size: 14px;
  font-weight: 700;
  color: white;
  position: absolute;
  z-index: 2;
  bottom: 5%;
  left: 5%;
}

.destination-item__img {
  max-height: 100%;
  width: auto;
  transition-duration: 0.2s;
  transition-property: transform;
}

.destination-item:hover .destination-item__img {
  transform: scale(1.03);
}

@media (min-width: 480px) {
  .destination {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .destination-item__title {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .destination {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .destination-item__title {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .destination {
    gap: 20px;
  }
  .destination-item__title {
    font-size: 18px;
  }
}
.popUp {
  width: 100%;
  height: 214%;
  position: absolute;
  z-index: 100;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #585858;
}

.popUp--content {
  height: 345px;
  width: 255px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 26px;
  margin-top: -530px;
  box-shadow: 0.5px 1.5px 11.9px rgba(0, 0, 0, 0.201), 1.1px 3.4px 30.1px rgba(0, 0, 0, 0.291), 1.9px 6.2px 57.1px rgba(0, 0, 0, 0.359), 3.2px 10.3px 97.5px rgba(0, 0, 0, 0.421), 5.3px 16.9px 160.3px rgba(0, 0, 0, 0.489), 9.2px 29.6px 265.9px rgba(0, 0, 0, 0.579), 20px 64px 457px rgba(0, 0, 0, 0.78);
}

.popUp--label {
  font-size: 12px;
  font-weight: 500;
  color: #585858;
}

.popUp--input {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
  height: 40px;
  border-radius: 5px;
  padding: 0px 50px 0px 10px;
  background-color: #ecf1f2;
  border: none;
}

.popUp--button {
  text-align: center;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  color: #0a2a35;
  background-color: #b0dce7;
  margin-top: 14px;
}

.popUp--button:hover {
  color: #b0dce7;
  background-color: #0a2a35;
}

.popUp--close {
  width: 25px;
  position: absolute;
  margin-left: 192px;
  margin-top: -60px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .popUp--content {
    height: 355px;
    width: 380px;
  }
  .popUp--input {
    padding: 0px 125px 0px 15px;
  }
  .popUp--button {
    font-size: 15px;
  }
  .popUp--close {
    margin-left: 315px;
  }
}/*# sourceMappingURL=styles.css.map */